body{
	margin:0
}

#container{
	margin:0;
	min-width:100vw;
	min-height:100vh;
	overflow:hidden
}

#left{
	width: 70vw;
	height: 80vh;
	background-color: #0f0;
	float:left;
}

#right{
	width:30vw;
	height:80vh;
	background-color: #fff000;
	float:left
}

#bottom{
	width:100vw;
	height:20vh;
	background-color: #ff00ff
}

.clr{
	clear:both
}