<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Infostradka monitor</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<script src = "/static/jquery-3.3.1.min.js"></script>
	<script src = "/static/script.js"></script>
	<script src = "/static/simpleClock.min.js"></script>

	<link rel="Stylesheet" type="text/css" href="/static/style.css"/>
</head>

<body>
	<div id="top-container">
		<iframe id = "top-left" src="../static/loading-screen.html" scrolling="no"></iframe>
		<iframe id = "top-right" src="../static/loading-screen.html" allow="autoplay; encrypted media" scrolling="no"></iframe>
	</div>

	<div class = "clr"></div>

	<div id="bottom-container">
		<div id="bottom-left">
			<div id="time"></div>
			<div id="date"></div>
		</div>
		<div id="bottom-right">
			<div id="info">
				<div id="info-title">Trwa inicjalizacja systemu Infostradka...</div>
				<div id="info-main">Proszę czekać.</div>
			</div>
		</div>
	</div>
	
</body>
</html>
