<html>
<head>
<title>infostradka - manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="Stylesheet" type="text/css" href="/static/manager.css"/>
<script src="/static/jquery-3.3.1.min.js"></script>

<script src="/static/files-handler.js"></script>

</head>
<body>
<header>
	<div id="header-left">
		<picture>
			<source srcset="/static/infostradka-logo-500px.webp" type="image/webp">
			<source srcset="/static/infostradka-logo-500px.png" type="image/png">
			<img src="/static/infostradka-logo-500px.png" alt="infostradka logo">
		</picture>
	</div>
	<div id="header-right">
		<nav>
			<a href="../manager">Strona główna</a>
		</nav>
	</div>
</header>
<section>
	<h1>Pliki:</h1>
	<form id="add_file" enctype="multipart/form-data" action="/v1/manager/files" method="POST">
		<input type="file" name="file" multiple accept="image/jpg,image/jpeg,image/png,image/gif,text/html">
		<button type="submit">Dodaj pliki</button>
	</form>
	{% for file in files %}
		<div class="file">
			{% if file.type == 'image/jpeg' or file.type == 'image/jpg' %}
			<img class="file-ico" src="/static/jpeg.png">
			{% elif file.type == 'image/gif' %}
			<img class="file-ico" src="/static/gif.png">
			{% elif file.type == 'image/png' %}
			<img class="file-ico" src="/static/png.png">
			{% elif file.type == 'text/html' %}
			<img class="file-ico" src="/static/html.png">
			{% else %}
			<img class="file-ico" src="/static/file.png">
			{% endif %}
			<p>{{file.name}}</p>
			<input readonly value="{{file.hash}}" name="file_hash">
			<img class="delete-file-btn" hash="{{file.hash}}" src="/static/delete.png">
		</div>
	{% endfor %}
	<div class="clr"></div>
</section>
<aside></aside>
<footer>
&copy; 2018 <picture>
		<source srcset="/static/infostradka-logo-500px.webp" type="image/webp">
		<source srcset="/static/infostradka-logo-500px.png" type="image/png"> 
		<img src="/static/infostradka-logo-500px.png" alt="infostradka logo">
	</picture>
<a href="https://github.com/MateuszGrabuszynski/ict-infostradka">Github</a><a href="https://github.com/MateuszGrabuszynski/ict-infostradka#autorzy">Autorzy projektu</a>
<span id="version">wersja: {{version}}</span>
</footer>
</body>
</html>
