<html>
<head>
<title>infostradka - manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="Stylesheet" type="text/css" href="/static/manager.css"/>
</head>
<body>
<header>
	<div id="header-left">
		<picture>
			<source srcset="/static/infostradka-logo-500px.webp" type="image/webp">
			<source srcset="/static/infostradka-logo-500px.png" type="image/png">
			<img src="/static/infostradka-logo-500px.png" alt="infostradka logo">
		</picture>
	</div>
	<div id="header-right">
	</div>
</header>
<section>
	<h1>Witaj!</h1>
	<nav>
		<a href="./manager/displays">Wyświetlacze</a>
		<a href="./manager/main_content">Ustawienia sekcji głównej</a>
		<a href="./manager/right_panel">Ustawienia sekcji prawej</a>
		<a href="./manager/news_bar">Ustawienia paska informacyjnego</a>
	</nav>
</section>
<aside></aside>
<footer>
&copy; 2018 <picture>
		<source srcset="/static/infostradka-logo-500px.webp" type="image/webp">
		<source srcset="/static/infostradka-logo-500px.png" type="image/png"> 
		<img src="/static/infostradka-logo-500px.png" alt="infostradka logo">
	</picture>
<a href="https://github.com/MateuszGrabuszynski/ict-infostradka">Github</a><a href="https://github.com/MateuszGrabuszynski/ict-infostradka#autorzy">Autorzy projektu</a>
<span id="version">wersja: {{version}}</span>
</footer>
</body>
</html>
