<html>
<head>
<title>infostradka - manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="Stylesheet" type="text/css" href="/static/manager.css"/>
<script src="/static/jquery-3.3.1.min.js"></script>

<script src="/static/files-handler.js"></script>

</head>
<body>
<header>
	<div id="header-left">
		<picture>
			<source srcset="/static/infostradka-logo-500px.webp" type="image/webp">
			<source srcset="/static/infostradka-logo-500px.png" type="image/png">
			<img src="/static/infostradka-logo-500px.png" alt="infostradka logo">
		</picture>
	</div>
	<div id="header-right">
		<nav>
			<a href="../manager">Strona główna</a>
		</nav>
	</div>
</header>
<section>
	<h1>Screenshots:</h1>
	{% for element in elements %}
		<div class="screenshot">
			<img class="file-ico" src="data:image/png;base64, {{element.screenshot}}">
			<p>{{element.display_name}}</p>
			<input readonly value="{{element.display_id}}" name="file_hash">
		</div>
	{% endfor %}
	<div class="clr"></div>
</section>
<aside></aside>
<footer>
&copy; 2018 <picture>
		<source srcset="/static/infostradka-logo-500px.webp" type="image/webp">
		<source srcset="/static/infostradka-logo-500px.png" type="image/png"> 
		<img src="/static/infostradka-logo-500px.png" alt="infostradka logo">
	</picture>
<a href="https://github.com/MateuszGrabuszynski/ict-infostradka">Github</a><a href="https://github.com/MateuszGrabuszynski/ict-infostradka#autorzy">Autorzy projektu</a>
<span id="version">wersja: {{version}}</span>
</footer>
</body>
</html>
