body{
	margin: 0;
	min-height:100vh;
	height:100vh;
	font-family: sans-serif;
}
header{
	background-color:#f2f2f2;
	padding:20px;
}
#header-left, #header-right{
	display:table-cell;
	vertical-align:middle;
}
#header-right{
	padding-left:20px;
}
nav a{
	font-size:1.25em;
	display: block;
}
nav a,footer a{
	text-decoration:none;
	color:#31859c;
	padding-left:20px;
}
nav a:hover,footer a:hover{
	color:#93cddd;
}

.clr{
    clear: both;
}

/*mid*/
section{
	padding: 0 20px;
	margin-bottom: 80px;
}

td.td-move-ico{
    background-image: url(/static/dnd.png);
    background-repeat: no-repeat;
    width: 20px;
}

div.file{
    float: left;
    padding: 5px;
    width: 150px;
    border: #424242 1px solid;
    margin: 20px;
    text-align: center;
}

div.file .file-ico{
    margin-bottom: 10px;
}

div.file p{
    margin: 0px;
}

div.file input{
    width: calc(90% - 4px);
    display: block;
    margin: 0px auto;
    border: 0;
    text-align: center;
}

div.file .delete-file-btn{
    padding: 10px;
}


/*footer*/
footer{
	position:fixed;
	bottom:0px;
	background-color:#f2f2f2;
	padding:20px;
	width:100vw;
}
footer img{
	height:12px;
}
footer #version{
	font-size:.7em;
	position:fixed;
	right:5px;
	bottom:5px;
}